body{
    background-color: #275479;
    font-family: Arial;
    font-family: sans-serif;
}
header{
    margin: 29px auto 0;
    position: relative;
    width: 1168px;
}
    header img{
        vertical-align: middle;
        width: 241px;
    }   
    header .donate{
        background-color: #FFD856;
        border-radius: 5px;
        border: 1px solid #DCA900;
        box-shadow: inset 0 0 4px #fff;
        color: #534D4D;
        font-size: 11px;
        padding: 6px 11px;
        position: absolute;
        right: 318px;
        text-decoration: none;
        top: 21px;
        vertical-align: middle;
    }
    header div{
        background-color: #1E2933;
        border-radius: 6px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 4px;
        vertical-align: middle;
    }
        header div input{
            font-size: 11px;
            margin: 15px 11px 15px 17px;
            padding: 7px 5px;
            vertical-align: middle;
        }
        header div input::placeholder {
            color: #BBBBBB;
        }
        header div .search{
            background-image: linear-gradient(#3776AB, #2C5E87);
            border-radius: 6px;
            border: 1px solid #3776AB;
            color: #fff;
            margin: 0;
            padding: 8px 8px;
        }
        header div a{
            border-left: 1px solid #070A0C;
            color: #fff;
            font-size: 11px;
            margin-left: 10px;
            padding: 24px 17px;
            text-decoration: none;
            vertical-align: middle;
        }
        header div form{
            display: inline-block;
        }
.hero_image {
    margin: 0 auto;
    position: relative;
    width: 1168px;
}
    .hero_image div{
        background-color: #336D9F;
        border-radius: 7px;
        padding: 20px 177px;
        position: absolute;
        top: 0;
    }
    .hero_image div a{
        border-right: 1px solid #2B5C86;
        color: #E6E8EA;
        font-size: 16px;
        padding: 21px;
        text-decoration: none;
    }
    .hero_image div .active_link{
        background-color: #2B5C86;
    }
    .hero_image h1{
        color: #FFD343;
        font-size: 24px;
        margin-left: 117px;
        position: relative;
        top: 95px;
    }
    .hero_image h1 span{
        display: block;
        line-height: 30px;
    }
    .hero_image p{
        color: #fff;
        font-size: 13px;
        line-height: 26px;
        margin-left: 117px;
        position: relative;
        top: 97px;
        width: 319px;
    }
    .hero_image img{
        position: absolute;
        right: 95px;
        top: 60px;
    }
.main_content{
    background-color: #fff;
    margin-top: 150px;
    padding: 0 11.6%;
}
    .main_content .latest_news{
        border-top: 4px solid #75A8D3;
        display: inline-block;
        margin: 14px 12px;
        vertical-align: top;
        width: 557px;
    }
        .main_content .latest_news section{
            position: relative;
        }
            .main_content .latest_news section h2{
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                margin: 22px 0 7px 0;
            }
            .main_content .latest_news section a{
                color: #999999;
                font-size: 14px;
                position: absolute;
                right: 0;
                text-decoration: none;
                top: 29px;
            }
        .main_content .latest_news ul{
            margin: 0;
            padding: 0;
        }
            .main_content .latest_news ul li{
                border-top: 1px solid #CACCCE;
                font-size: 14px;
                list-style: none;
                padding: 8px 0;
            }
                .main_content .latest_news ul li a{
                    color: #3776AB;
                    margin-left: 37px;
                    text-decoration: none;
                }
    .main_content .use_python{
        border-top: 4px solid #75A8D3;
        display: inline-block;
        margin: 14px 12px;
        vertical-align: top;
        width: 557px;
    }
        .main_content .use_python section{
            position: relative;
        }
            .main_content .use_python section h2{
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                margin: 22px 0 7px 0;
            }
            .main_content .use_python section a{
                color: #999999;
                font-size: 14px;
                position: absolute;
                right: 0;
                text-decoration: none;
                top: 29px;
            }
            .main_content .use_python ul{
                margin: 0;
                padding: 0;
            }
                .main_content .use_python ul li{
                    border-top: 1px solid #CACCCE;
                    font-size: 14px;
                    list-style: none;
                    padding: 8px 0;
                }
                    .main_content .use_python ul li span{
                        color: #444444;
                        font-weight: 700;
                    }
                    .main_content .use_python ul li a{
                        background-color: #E6E8EA;
                        border-bottom: 1px solid #CACCCE;
                        color: #666666;
                        padding: 4px;
                        text-decoration: none;
                    }
footer{
    height: 100px;
    margin: 0 auto;
    width: 1196px;
}
    footer .others{
        display: inline-block;
        margin: 0 auto;
        padding: 20px 286px;
        width: 626px;
    }
        footer .others a{
            color: #89B4D9;
            font-size: 16px;
            margin: 0 15px;
            text-decoration: none;
            vertical-align: top;
        }
        footer .others a span{
            color: #008000;
            font-size: 16px;
            text-decoration: none;
            vertical-align: top;
        }
    footer .crumbs{
        display: inline-block;
        margin: 0 auto;
        padding: 0 338px;
        width: 522px;
    }
        footer .crumbs label{
            color: #89B4D9; 
            font-size: 11px;
            text-decoration: none;
            vertical-align: top;
        }
        footer .crumbs a{
            border-bottom: 1px dotted #89B4D9;
            color: #89B4D9;
            font-size: 11px;
            text-decoration: none;
            vertical-align: top;
        }